
 h2 {
    color: darkblue;
}
p {
    color: darkslategray;
}


.highlight {
     background-color: yellow; */
    font-weight: bold;
}


#main-title {
    color: crimson;
    
    text-align: center;
}


h2, p, li {
    border: 1px solid lightgray; 
    padding: 5px;
    border-radius: 5px; 
}


div p {
    color: green;
    font-style: italic;
}

div > ul > li {
    background-color: rgb(149, 206, 206);
}

a:hover {
    color: orange;
    text-decoration: underline;
}
ul li:first-child {
    background-color: lightgreen;
}
ul li:last-child {
    background-color: rgb(211, 145, 155);
}

p::first-letter {
    font-size: 24px;
    color: rgb(173, 121, 173);
    font-weight: bold;
}
